.ball {

  /* defining duration start */
  --animation-duration: 0.4s;
  --animation-interval: calc(var(--animation-duration) - var(--i));
  /* defining duration end */

  height: 55px;
  width: 55px;
  background-color: black;
  margin: 10px;
  border-radius: 100%;
  animation: jingle calc(var(--i) * 0.5s) ease-in-out;
  transition: transform 0.3s cubic-bezier(0.5, 1, 0.5, 1);
  animation-direction: both;
}

@keyframes jingle {
  from{
    transform: none;
  }


  to{
    transform: translateX(20vw);
  }
}