.container img{
  mask-image: url(#myMask);
  -webkit-mask-image: url(#myMask);
  width: 100%;
  height: 100px;
}
.mysvg {
  width: 100%;
  height: 300px;
  opacity: .5;
  mask-image: url(#myMask);
  -webkit-mask-image: url(#myMask);
}

 
.mask >  img{
  -webkit-mask-image: url('/images/mask.svg');
}